
body {
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
}

/* 질문 내용 박스 */
.content-box {
    width: 70%;
    min-height: 120px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 15px;
    background-color: #fafafa;
    white-space: pre-wrap;
}

/* 답변 textarea */
textarea {
    width: 70%;
    height: 200px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    font-size: 1em;
    resize: none;
    margin-top: 10px;
}

/* 버튼 */
button {
    padding: 12px 30px;
    font-size: 1.1em;
    font-weight: 700;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-right: 10px;
    border: none;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
    background-color: lightgray;
    color: black;
}
