/* 기본 레이아웃과 어울리도록 */
body {
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

/* 질문하기 버튼 */
button {
    padding: 10px 30px;
    font-size: 1.1em;
    font-weight: 700;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

button:hover {
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

/* 테이블 디자인 */
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #aaa;
    padding: 15px;
    text-align: center;
    font-size: 1.1em;
}

th {
    background: #333;
    color: white;
}

tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
